<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brainwasher.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5A070D5F5D8B9DC446ACD93BBF66329DB535F9BC</string>
				<key>dateExpires</key>
				<string>15/10/2020</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JR6QP2D5KK.org.reactjs.native.example.brainwasher</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JR6QP2D5KK</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>brainwasher.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>958f36a8-6fb4-4041-898e-c6d9115b9928</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.reactjs.native.example.brainwasher</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JR6QP2D5KK</string>
				<key>name</key>
				<string>Muhammad Arsalan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
